<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <arg name="bag_filename_0" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-11-54_5.bag" />
  <arg name="bag_filename_1" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-13-27_6.bag" />
  <arg name="bag_filename_2" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-15-00_7.bag" />
  <arg name="bag_filename_3" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-16-39_8.bag" />
  <arg name="bag_filename_4" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-18-18_9.bag" />
  <arg name="bag_filename_5" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-19-59_10.bag" />
  <arg name="bag_filename_6" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-21-29_11.bag" />
  <arg name="bag_filename_7" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-22-57_12.bag" />
  <arg name="bag_filename_8" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-24-25_13.bag" />
  <arg name="bag_filename_9" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-25-49_14.bag" />
  <arg name="bag_filename_10" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-27-15_15.bag" />
  <arg name="bag_filename_11" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-28-41_16.bag" />
  <arg name="bag_filename_12" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-30-06_17.bag" />
  <arg name="bag_filename_13" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-31-30_18.bag" />
  <arg name="bag_filename_14" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-32-53_19.bag" />
  <arg name="bag_filename_15" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-34-17_20.bag" />
  <arg name="bag_filename_16" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-35-42_21.bag" />
  <arg name="bag_filename_17" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-37-06_22.bag" />
  <arg name="bag_filename_18" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-38-30_23.bag" />
  <arg name="bag_filename_19" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-39-55_24.bag" />
  <arg name="bag_filename_20" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-41-19_25.bag" />
  <arg name="bag_filename_21" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-42-43_26.bag" />
  <arg name="bag_filename_22" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-44-09_27.bag" />
  <arg name="bag_filename_23" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-45-39_28.bag" />
  <arg name="bag_filename_24" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-47-16_29.bag" />
  <arg name="bag_filename_25" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-48-56_30.bag" />
  <arg name="bag_filename_26" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-50-37_31.bag" />
  <arg name="bag_filename_27" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-52-12_32.bag" />
  <arg name="bag_filename_28" value="/home/hector/bag_files/npp/default_record_2017-06-22-13-53-48_33.bag" />
  <param name="/use_sim_time" value="true" />
  <!--<include file="$(find cartographer_hector_tracker)/launch/exp2/exp2_argo_tracker_vlp16_pg.launch" />-->

  <include file="$(find argo_postproc_launch)/launch/generate_cartographer_data_vlp16.launch" />

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <param name="target_frame_name" type="string" value="/world" />
    <param name="source_frame_name" type="string" value="/base_link" />
    <param name="trajectory_update_rate" type="double" value="4" />
    <param name="trajectory_publish_rate" type="double" value="0.25" />
  </node>
 
  <node name="playbag" pkg="rosbag" type="play"
      args="$(arg bag_filename_0) $(arg bag_filename_1) $(arg bag_filename_2) $(arg bag_filename_3) $(arg bag_filename_4) $(arg bag_filename_5) $(arg bag_filename_6) $(arg bag_filename_7) $(arg bag_filename_8)  $(arg bag_filename_9) 
      $(arg bag_filename_10) $(arg bag_filename_11) $(arg bag_filename_12) $(arg bag_filename_13) $(arg bag_filename_14) $(arg bag_filename_15) $(arg bag_filename_16) $(arg bag_filename_17) $(arg bag_filename_18) $(arg bag_filename_19)
      $(arg bag_filename_20) $(arg bag_filename_21) $(arg bag_filename_22) $(arg bag_filename_23) $(arg bag_filename_24) $(arg bag_filename_25) $(arg bag_filename_26) $(arg bag_filename_27) $(arg bag_filename_28)
      -r 1.1 -s 60  --clock -k /tf:=/tf_trash /odom:=/odom_trash /spin_laser/vlp16:=/spin_laser/vlp16_trash" respawn="true"/>
  

</launch>


