<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

785398
-->

<launch>
  <arg name="load_state_filename"    default="" />

  <node pkg="tf2_ros"
        type="static_transform_publisher"
        name="link1_broadcasadasster"
        args="0.57 1.15 0.5 3.175 0 0 world world_map" />

  <node name="cartographer" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_hector_tracker)/configuration_files
          -configuration_basename hector_tracker_wrs18_localization.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen" respawn="true">
    <remap from="points2" to="/scan_cloud_filtered"/> 
    <remap from="imu" to="/imu/microstrain/data"/>
    <remap from="odom" to="/odom_raw"/>
  </node>

</launch>
